# Deny PHP execution in avatar uploads
<FilesMatch "\.(php|phtml|php[0-9]|phar|cgi|pl|py|sh)$">
  Require all denied
</FilesMatch>
<IfModule mod_php.c>
  php_flag engine off
</IfModule>
<IfModule mod_mime.c>
  AddType image/webp .webp
  AddType image/png .png
  AddType image/jpeg .jpg .jpeg
</IfModule>
